##################
# This .gitignore.
##################
published
User_Management_System/obj
EmailService/obj
*.cache
User_Management_System/obj/Debug/netcoreapp3.1/*.cache
/.vs/User_Management_System
/.vs
.vs
User_Management_System/obj
User_Management_System/bin
User_Management_System/obj/Debug/netcoreapp3.1/UMS.dll
User_Management_System/obj/Debug/netcoreapp3.1/UMS.pdb
User_Management_System/obj/Debug/netcoreapp3.1/UMS.Views.dll
User_Management_System/obj/Debug/netcoreapp3.1/UMS.Views.pdb
User_Management_System/bin/Debug/netcoreapp3.1/UMS.dll
User_Management_System/bin/Debug/netcoreapp3.1/UMS.pdb
User_Management_System/bin/Debug/netcoreapp3.1/UMS.Views.dll
User_Management_System/bin/Debug/netcoreapp3.1/UMS.Views.pdb
EmailService/obj/Debug/netcoreapp3.1/EmailService.assets.cache
EmailService/obj/Debug/netcoreapp3.1/EmailService.csprojAssemblyReference.cache
User_Management_System/obj/Debug/netcoreapp3.1/UMS.assets.cache
User_Management_System/obj/Debug/netcoreapp3.1/UMS.csprojAssemblyReference.cache

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
EmailService/obj/Debug/netcoreapp3.1/EmailService.csproj.FileListAbsolute.txt
EmailService/obj/Debug/netcoreapp3.1/EmailService.csprojAssemblyReference.cache
EmailService/obj/EmailService.csproj.nuget.dgspec.json
EmailService/obj/project.nuget.cache
EmailService/obj/Debug/netcoreapp3.1/EmailService.assets.cache