################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserManagementSystem/obj/Debug/netcoreapp3.1
/UserManagementSystem/obj/Debug/netcoreapp3.1/UserManagementSystem.csprojAssemblyReference.cache
/.vs/User Management System/DesignTimeBuild/.dtbcache.v2
UserManagementSystem/obj/Debug/netcoreapp3.1/UserManagementSystem.exe
.vs/User Management System/v16/.suo
UserManagementSystem/obj/Debug/netcoreapp3.1/UserManagementSystem.csprojAssemblyReference.cache
UserManagementSystem/obj/Debug/netcoreapp3.1/UserManagementSystem.csprojAssemblyReference.cache
