@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hold-transition login-page">
    <div class="login-box">
        <h3 class="login-box-msg">User Management System</h3>
        <!--Start Card-->
        <div class="card">
            <!--Start Card body-->
            <div class="card-body login-card-body">
                <p class="login-box-msg">Please enter your email address and we'll send you a recovery link.</p>
                <!--Start Form reset password-->
                <form id="ForgotPassword" method="post">
                    <!--Start Input email-->
                    <span class="text-danger small"></span>
                    <div class="input-group mb-3">
                        <input class="form-control" placeholder="Email" />
                    </div>
                    <!--End Input email-->
                    <!--Start Button reset-->
                    <button type="submit" class="btn btn-block btn-primary">Reset</button>
                    <!--End Button Reset-->
                    <!--Start Hyperlink-->
                    <a href="/Login/Index" class="text-center">I already have a membership</a><br>
                    <a href="/Register/Index" class="text-center">Register a new membership</a>
                    <!--End Hyperlink-->
                </form>
                <!--End Form Reset password-->
            </div>
            <!--End Card body-->
        </div>
        <!--End Card-->
    </div>

    <!--Start Script-->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <!--End Script-->

</div>    