@model UserManagementSystem.Models.Account

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="hold-transition login-page">
        <div class="login-box">
            <h3 class="login-box-msg">User Management System</h3>
            <!--Start Card-->
            <div class="card">
                <!--Start Card body-->
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Reset password</p>
                    <!--Start Form reset password-->
                    <form id="ResetPassword" method="post">
                        <!--Start Input password-->
                        <div class="form-group">
                            <input class="form-control" placeholder="New password" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Confirm password" />
                            <span class="text-danger"></span>
                        </div>
                        <!--End Input password-->
                        <!--Start Button reset-->
                        <button type="submit" class="btn btn-block btn-primary">Reset</button>
                        <!--End Button reset-->
                    </form>
                    <!--End Form Reset password-->
                </div>
                <!--End Card body-->
            </div>
            <!--End Card-->
        </div>

        <!--Start Script-->
        <script src="~/plugins/jquery/jquery.min.js"></script>
        <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/adminlte.min.js"></script>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
        <!--End Script-->

    </div>