@*
    Name: _Footer.cshtml
    Namespace: Views/Shared/AdminLTE
    Author: Namchok
*@
<!-- Main Footer -->
<footer class="main-footer">
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020 <a href="http://www.itpc.co.th">IT Professional Consulting (ITPC)</a>.</strong>
</footer>