@*
    Name: _MainNavigation.cshtml
    Namespace: Views/Shared/AdminLTE
    Author: Namchok
*@

@using static UserManagementSystem.Helpers.NavigationIndicatorHelper;

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Brand Logo -->
    <a href="~/Home" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">User Management</span>
    </a>
    <!-- /.brand logo -->
    <!-- Sidebar -->
    <div class="sidebar">

        @* อนาคตทำการสร้าง partial view ตรวจสอบผู้ใช้งาน *@
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a class="text-white">Hi!, Namchok</a>
            </div>
        </div>
        <!-- ./sidebar user panel-->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Home navbar-->
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Home" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p> Home </p>
                    </a>
                </li>
                <!-- ./home navbar -->
                <!-- Connect navbar -->
                <li class="nav-item">
                    <a asp-controller="ManageUser" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-user-cog"></i>
                        <p>
                            User
                        </p>
                    </a>
                </li>
                <!-- ./connect navbar -->
                <!-- Edit profile navbar -->
                <li class="nav-item">
                    <a asp-controller="EditProfile" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-user-circle"></i>
                        <p>
                            Profile
                        </p>
                    </a>
                </li>
                <!-- ./Edit profile navbar -->
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- END -->