@model Account
@{
    ViewData["Title"] = "Register";
}

<div class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <h3 class="login-box-msg">User Management System</h3>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <form method="post">
                    <p>Create a new account.</p>
                    <hr />
                    <div class="form-group">
                        <label>Firstname</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Lastname</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Confirm password</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-secondary">Back</button>
                    <button type="submit" class="btn btn-primary float-right">Register</button>
                </form>
                <a href="/Identity/Account/Login" class="text-center">I already have a membership</a>
            </div>
        </div>
    </div>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</div>